<!--
https://www.instagram.com/developer/authentication/ https://github.com/x-element/oauth-v2/ set access token to cookie from
apis with username & password of user get access & renew token with oauth token can get and save multiple token associate
with different user. renew near expiry token set jwt in cookie with selected user if it can't renew token, alert user in
popup message with link to login page for security it must delete tokens on no activity specific time

instagram https://api.instagram.com/oauth/authorize/?client_id=a377919d5e07466fab7be0153c51ce88&redirect_uri=http://apis.sabz.city/auth/v1/token/ouath2/instagram/?redirect-uri=""&response_type=token
facebook


<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '1849628521952707',
      cookie: true,
      xfbml: true,
      version: 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

-->

<!--
Copyright 2016 SabzCity

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!-- polymer elements -->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<!-- app elements -->
<link rel="import" href="../SabzCityElements/a-card/a-card.html">
<link rel="import" href="../SabzCityElements/a-social-btn/a-social-btn.html">

<dom-module id="app-login">
	<template>
		<style type="text/css">
			:host {
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 90vh;
			}

			a-card {
				width: 400px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				padding-bottom: 30px;
			}

			.submit {
				text-align: center;
				background: var(--fifth-background-color);
				color: var(--secondary-text-color);
				font-size: var(--medium-text-size);
				margin: 20px 0px 10px;
			}

			.logo {
				width: 100px;
				height: 100px;
				display: flex;
				align-self: center;
			}

			.login-title {
				font-family: var(--secondary-font);
				text-align: center;
				font-size: var(--huge-text-size);
				color: var(--fifth-text-color);
				margin-bottom: 10px;
			}

			.basline {
				text-align: center;
				margin: 8px 0px 8px;
				font-size: var(--medium-text-size);
			}

			.social-container {
				display: flex;
				flex-direction: row;
				justify-content: center;
			}

			.social-container a-social-btn {
				width: 50%;
				margin-bottom: 10px;
			}

			.sign-link {
				margin-top: 3px;
				font-size: var(--small-text-size);
				color: var(--fifth-text-color);
			}
		</style>
		<a-iconset></a-iconset>
		<a-card>
			<iron-icon class="logo" src$="[[importPath]]../../images/logo3.svg"></iron-icon>
			<p class="login-title">
				وارد شهر سبز شوید
			</p>
			<paper-input label="نام کاربری ، ایمیل"></paper-input>
			<paper-input type="password" label="رمز عبور"></paper-input>
			<paper-button raised class="submit">ورود</paper-button>
			<span class="basline">یا ورود از طریق</span>
			<div class="social-container">
				<a-social-btn url="#" social="google"></a-social-btn>
				<a-social-btn url="/123" social="instagram"></a-social-btn>
			</div>
			<a class="sign-link" href="#">مشکل در ورود دارید؟اینجا کلیک کنید</a>
			<a class="sign-link" href="#">در شهر سبز ثبت نام کنید</a>
		</a-card>
	</template>

	<script type="text/javascript">
		Polymer({
			is: "app-login"
		});
	</script>
</dom-module>
