<style is="custom-style">
	:root {
		/* background colors */
		--primary-background-color: #ffffff;
		--secondary-background-color: #106cc8;
		--tertiary-background-color: #185795;
		--fifth-background-color: #02a94f;

		/* text colors */
		--primary-text-color: #1e1e1e;
		--secondary-text-color: #ffffff;
		--tertiary-text-color: #02a94f;
		--fifth-text-color: #4897d2;
		--six-text-color: #f50057;

		/* shadows */
		--primary-shadow: 0px 2px 13px rgba(0, 0, 0, 0.1);

		/* text sizes */
		--very-huge-text-size: 1.7em;
		--huge-text-size: 1.5em;
		--h1-text-size: 1.1em;
		--h2-text-size: 1em;
		--h3-text-size: 0.9em;
		--big-text-size: 0.85em;
		--medium-text-size: 0.8em;
		--small-text-size: 0.75em;

		/* borders */
		--sidebar-listbox-border: solid 1px rgba(255, 255, 255, 0.4);
		--black-border: solid 1px rgba(0, 0, 0, 0.3);

		/* fonts */
		--primary-font: 'IRsansl';
		--secondary-font: 'XeroSans';

		/* iron icon style */
		--iron-icon-height: 19px;
		--iron-icon-width: 19px;

		/* paper input style */
		--paper-input-container-color: var(--primary-text-color);
		--paper-input-container-focus-color: var(--secondary-background-color);
		--paper-font-common-base: {
			font-family: var(--primary-font);
			-webkit-font-smoothing: antialiased;
		}
		;
		--paper-font-subhead: {
			@apply(--paper-font-common-base);
			font-size: var(--medium-text-size);
			font-weight: 400;
			line-height: 24px;
		}
		;
	}

	;
</style>